body {
    margin: 0px;
}

.ooz {
    color: #296AA6;
    font-size: 4.5em;
    font-family: 'Orbitron';
    font-weight: bold;
    margin-bottom: -30px;
}

.oneoverzero {
    color: #A1C6EA;
    font-size: 1.5em;
    font-family: 'Orbitron';
    font-weight: bold;
}

nav {
    text-align: center;
    font-family: 'Orbitron';
    font-weight: bold;
    margin-top: 20px;
    font-size: 2em;
    border-bottom: 2px solid #296AA6;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #000000;
}

nav li a:hover {
    text-decoration: none;
    color: #296AA6;
}

nav li a:focus {
    text-decoration: none;
    color: #296AA6;
}

.pixel-row {

}

.pixel {
    display: inline-block;
    background: #ffffff;
    /*outline: 1px solid #cccccc;
    outline-offset: -1px;*/
}